<% provide(:title, 'About Us')%>

<h1>Pro2013App About Us</h1>
<p>
	<a href="http://www.boardgamers.org/yearbook13/propge.htm">World Boardgaming Championships 2013</a> 
		Puerto Rico Tournament Results
</p>
<p>This is an example project for <a href="http://www.playboardgamesbetter.com">Play Boardgames Better Podcast</a>
	and for <a href="http://www.meepleleague.com">the Meeple League</a></p>
	<p>Rich Shay is the developer: <a mailto:"rshay@me.com">Mail me</a></p>