<% provide(:title, 'Standings')%>

<h1>Pro2013App</h1>
<p><a href="http://www.boardgamers.org/yearbook13/propge.htm">World Boardgaming Championships 2013</a> 
	Puerto Rico Tournament Standings</p>
	<p>This page will have a report of tournament standings at the conclusion of any round.
		 It will list the results for each player in standings order.</p>